<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>E Farming</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginFarmer</display-name>
    <servlet-name>LoginFarmer</servlet-name>
    <servlet-class>LoginFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFarmer</servlet-name>
    <url-pattern>/LoginFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginWholeSeller</display-name>
    <servlet-name>LoginWholeSeller</servlet-name>
    <servlet-class>LoginWholeSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginWholeSeller</servlet-name>
    <url-pattern>/LoginWholeSeller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterFarmer</display-name>
    <servlet-name>RegisterFarmer</servlet-name>
    <servlet-class>RegisterFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFarmer</servlet-name>
    <url-pattern>/RegisterFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterWholeSeller</display-name>
    <servlet-name>RegisterWholeSeller</servlet-name>
    <servlet-class>RegisterWholeSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterWholeSeller</servlet-name>
    <url-pattern>/RegisterWholeSeller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileFarmer</display-name>
    <servlet-name>ProfileFarmer</servlet-name>
    <servlet-class>ProfileFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileFarmer</servlet-name>
    <url-pattern>/ProfileFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileWholeSeller</display-name>
    <servlet-name>ProfileWholeSeller</servlet-name>
    <servlet-class>ProfileWholeSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileWholeSeller</servlet-name>
    <url-pattern>/ProfileWholeSeller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutFarmer</display-name>
    <servlet-name>LogoutFarmer</servlet-name>
    <servlet-class>LogoutFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutFarmer</servlet-name>
    <url-pattern>/LogoutFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutWholeSeller</display-name>
    <servlet-name>LogoutWholeSeller</servlet-name>
    <servlet-class>LogoutWholeSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutWholeSeller</servlet-name>
    <url-pattern>/LogoutWholeSeller</url-pattern>
  </servlet-mapping>
</web-app>